# Municipal Data Check
**Goal:** Discern whether, beyond the errors regarding Norwalk, Torrington, Salisbury, Stelton etc. with regards to missing columns, there are other issues with the data. Do this by

# Look at old data

In [1]:
import pandas as pd
import pathlib

In [2]:
path = pathlib.Path().resolve()

In [20]:
old_data = pd.read_csv(path / "ignored-data"/ "vehicles_2022" / "towns01to169_combined.csv",
                       encoding='cp437',
                       chunksize = 1000)

In [21]:
# Find norwalk data
i = 0
norwalk_df = pd.DataFrame([])

for chunk in old_data:
    if (i%100 == 0):
        print(f"Now on chunk number {i}")
        
    norwalk_entries = chunk[chunk["recordfrom"].str.contains("Norwalk")]
    num_norwalk = len(norwalk_entries)
    
    if num_norwalk > 0:
        norwalk_df = pd.concat([norwalk_df, norwalk_entries])
        print(f"Now adding {num_norwalk} entries for Norwalk")
    
    i +=1

Now on chunk number 0
Now on chunk number 100
Now on chunk number 200
Now on chunk number 300
Now on chunk number 400
Now on chunk number 500
Now on chunk number 600
Now on chunk number 700
Now on chunk number 800
Now on chunk number 900
Now on chunk number 1000
Now on chunk number 1100
Now on chunk number 1200
Now on chunk number 1300
Now on chunk number 1400
Now on chunk number 1500
Now on chunk number 1600
Now on chunk number 1700
Now adding 907 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now on chunk number 1800
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 1000 entries for Norwalk
Now adding 757 entries for Norwalk
Now on chunk number 1900
Now on chunk number 2000
Now on chunk number 2100
Now on chunk number 2200
Now on chunk number 2300
Now on chunk number 2400
Now on chunk number 2500
Now on chunk number 2600
Now on chunk number 2700
Now on chunk number 2800
Now on chunk number 2900

In [25]:
norwalk_df

,recordfrom,taxpayer,street,city,state,zip1,vehicle_year,vehicle_make,vehicle_model,vehicle_class,vehicle_id,datayear
1783093,103_Norwalk,".TOMAS ELECTRIC, L.L.C.",2 RUBY ST,NORWALK,CT,6850.0,2012,CHEVROLET,EXPRESS G2500,3.0,1GCWGFCA9C1124389,2020
1783094,103_Norwalk,"14 GREEN STREET, LLC",6 CAMP ST,NORWALK,CT,6851.0,1992,FORD,CLUB WAGON E150,3.0,1FMEE11N5NHA35676,2020
1783095,103_Norwalk,"14 GREEN STREET, LLC",6 CAMP ST,NORWALK,CT,6851.0,2008,MAZDA,CX-7,3.0,JM3ER29L380183224,2020
1783096,103_Norwalk,201 LIBERTY SQUARE LLC,201 LIBERTY SQ,NORWALK,CT,6855.0,2007,FORD,ECONOLINE E150,3.0,1FTNE14W27DA88712,2020
1783097,103_Norwalk,297 GEORGE STREET LLC,10 WALL ST,NORWALK,CT,6850.0,2011,PORSCHE,PANAMERA/4,1.0,WP0AA2A74BL011738,2020
...,...,...,...,...,...,...,...,...,...,...,...,...
1854752,103_Norwalk,ZWIRKO JERZY E,38 BROOKLAWN AVE,NORWALK,CT,6854.0,2004,LEXUS,ES 330,1.0,JTHBA30G345005186,2020
1854753,103_Norwalk,ZWYER DONALD A,597 WESTPORT AVE UNIT C255,NORWALK,CT,6851.0,1991,TOYOTA,CAMRY DELUXE,1.0,4T1SV21E3MU315479,2020
1854754,103_Norwalk,ZWYER JUDITH K,597 WESTPORT AVE UNIT C255,NORWALK,CT,6851.0,2020,MINI,COOPER S COUNTRYMAN,1.0,WMZYX1C01L3L61241,2020
1854755,103_Norwalk,ZYATIONOK STANISLAV N,7 SCHOOL ST APT 5,NORWALK,CT,6851.0,2000,MITSUBISHI,ECLIPSE RS,1.0,4A3AC34GXYE078351,2020
1854756,103_Norwalk,ZYRA CINDY RENEE,205 W ROCKS RD,NORWALK,CT,6851.0,2010,TOYOTA,RAV4 SPORT,1.0,JTMRK4DV0A5088163,2020